[submodule "intellij-aicoder"]
	path = intellij-aicoder
	url = ../intellij-aicoder
[submodule "jo-penai"]
	path = jo-penai
	url = ../jo-penai
[submodule "SkyeNet"]
	path = SkyeNet
	url = ../SkyeNet
[submodule "aicoder-demotest"]
	path = aicoder-demotest
	url = https://github.com/SimiaCryptus/aicoder-demotest.git
[submodule "MailDB"]
	path = MailDB
	url = https://github.com/SimiaCryptus/MailDB.git
